<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>整理屏幕截屏并保存相册.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18B75A981CB60CE60017315F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B75AB11CB60CE60017315F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B75ABC1CB60CE60017315F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
